<?xml version="1.0" encoding="UTF-8" ?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	
    <properties resource="properties.config"/>
   
	<settings>
		<setting useStatementNamespaces="false"/>
		<setting cacheModelsEnabled="true"/>
	</settings>
	
	<database>	
		<provider name="${provider}"/>
		<dataSource name="NOTIF05O"  connectionString="${connectionString}"/>
	</database>

	<sqlMaps>
		<sqlMap resource="${root}Resources/NotificationEvent.xml"/>
		<sqlMap resource="${root}Resources/SubscriptionInformation.xml"/>
		<sqlMap resource="${root}Resources/Subscriber.xml"/>
		<sqlMap resource="${root}Resources/Subscription.xml"/>
		<sqlMap resource="${root}Resources/Device.xml"/>
		<sqlMap resource="${root}Resources/SubscriptionType.xml"/>
		<sqlMap resource="${root}Resources/CommunicationMethod.xml"/>
		<sqlMap resource="${root}Resources/NotificationGenerator.xml"/>
		<sqlMap resource="${root}Resources/NotificationInformation.xml"/>
		<sqlMap resource="${root}Resources/EventType.xml"/>
		<sqlMap resource="${root}Resources/EventSubscriptionType.xml"/>
		<sqlMap resource="${root}Resources/LogServiceDistributor.xml"/>
		<sqlMap resource="${root}Resources/LogServiceGenerator.xml"/>
		<sqlMap resource="${root}Resources/Notification.xml"/>
		<sqlMap resource="${root}Resources/SystemEinstellungen.xml"/>
		<sqlMap resource="${root}Resources/Attachments.xml"/>

	</sqlMaps>

</sqlMapConfig>
